extends layout

block content
	form(class="pure-form pure-form-stacked", name="login", action="/login", method="post")
		fieldset
			legend= "Access to your personal email is just a step away!"
		
			// Email
			label(for="loginEmailInput")= "Email"
			input(type="email", id="loginEmailInput", placeholder="Email", name="email")

			// Password
			label(for="loginEmailPassword")= "Password"
			input(type="password", id="loginEmailPassword", placeholder="Password", name="password")

			// "Remember me" - Not yet implemented
			label(for="loginIsPersistent")= "Stay signed in?"
				input(type="checkbox", id="loginIsPersistent", name="isPersistent")

			button(type="submit", class="pure-button pure-button-primary")= "Sign In"