extends layout

block content
	div.pure-g
		div.pure-u-1-6
			label.title= "Mailboxes"
			ul
				li= "Inbox"
				li= "Sent"
				li= "Draft"
				li= "Spam"
				li= "Trash"
		div.pure-u-5-6
			section#list