extends layout

block content
	div.pure-g
		div#folders.pure-u-4-24
			label.title= "Mailboxes"
			ul
				li.active= "Inbox"
				li= "Sent"
				li= "Draft"
				li= "Spam"
				li= "Trash"
		div#plist.pure-u-20-24
			section#list
		div#view.pure-u-0-24