extends layout

block content
	div.pure-g
		div.pure-u-4-24
			label.title= "Mailboxes"
			ul
				li.active= "Inbox"
				li= "Sent"
				li= "Draft"
				li= "Spam"
				li= "Trash"
		div.pure-u-8-24
			section#list
		div.pure-u-12-24